/.cache/*
/Resources/*
/Dockerfiles/*
/.local/*
/.jupyter/*
/.ipython/*
/.ivy/*
/.ipynb_checkpoints/*
/spark/.ipynb_checkpoints/*
.bash_history
.python_history
.wget-hsts
/.vscode/*
/.vscode-server/*
.gitconfig
*.pyc